:root {
  --sheet--selected-color: rgb(100, 102, 236);
  --sheet--gray-color: rgb(226, 226, 226);
  --sheet-sub-text: rgb(121, 121, 121);
}
.Avada-Desktop-Position__Wrapper {
}
.Avada-Desktop-Position__Wrapper .Avada-Desktop-Position__Container {
  display: flex;
  gap: 20px;
}

.Avada-Desktop-Position__Wrapper .Avada-Desktop-Position__Wrapper-Icon {
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--sheet--gray-color);
  width: 150px;
  height: 80px;
  cursor: pointer;
}
.Avada-Desktop-Position__Wrapper .Avada-Desktop-Position__Helper-Text {
  color: var(--sheet-sub-text);
}
.Avada-Desktop-Position__Wrapper .Avada-Desktop-Position__Wrapper-Selected-Icon {
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--sheet--selected-color);
  width: 150px;
  height: 80px;
  cursor: pointer;
}

.Avada-Desktop-Position__Wrapper .Avada-Desktop-Position__Icon {
  background-color: var(--sheet--gray-color);
  position: absolute;
  height: 30px;
  width: 65px;
}

.Avada-Desktop-Position__Wrapper .Avada-Desktop-Position__Selected-Icon {
  background-color: var(--sheet--selected-color);
  position: absolute;
  height: 30px;
  width: 65px;
}
.Avada-Desktop-Position__top-left {
  top: 5px;
  left: 5px;
}
.Avada-Desktop-Position__bottom-left {
  bottom: 5px;
  left: 5px;
}
.Avada-Desktop-Position__top-right {
  top: 5px;
  right: 5px;
}
.Avada-Desktop-Position__bottom-right {
  bottom: 5px;
  right: 5px;
}
