:root {
  --sheet--input-color: rgb(100, 102, 236);
  --sheet-sub-text: rgb(121, 121, 121);
}

.Avada-Setting__Wrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.Avada-Setting__Wrapper .Polaris-LegacyTabs__Title {
  font-weight: 400;
  line-height: 20px;
}
.Avada-Setting__Wrapper .Polaris-LegacyTabs__Tab--selected .Polaris-LegacyTabs__Title::before {
  background: #008060;
}
.Avada-Setting__Wrapper .Polaris-Checkbox__ChoiceLabel .Polaris-Checkbox__Backdrop {
  box-shadow: inset 0 0 0 var(--p-border-width-0165) var(--sheet--input-color);
}
.Avada-Setting__Wrapper .Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop,
.Polaris-Checkbox__Input.Polaris-Checkbox__Input--indeterminate + .Polaris-Checkbox__Backdrop {
  background-color: white;
}
.Avada-Setting__Wrapper .Polaris-Checkbox__Icon svg {
  color: var(--sheet--input-color);
}
.Avada-Setting__Wrapper .Avada-Setting__Display-Wrapper .Polaris-TextField {
  width: 100px;
}
.Avada-Setting__Wrapper .Polaris-RangeSlider-SingleThumb__InputWrapper::after {
  background-image: linear-gradient(
    to right,
    var(--p-color-border),
    var(--p-color-border) 100%,
    transparent 50%,
    transparent 100%
  );
}
.Avada-Setting__Wrapper .Polaris-RangeSlider-SingleThumb__Input {
  --pc-single-thumb-progress-lower: var(--sheet--input-color);
}
.Avada-Setting__Wrapper .Polaris-Text--subdued {
  color: var(--sheet-sub-text);
}
.Avada-Setting__Wrapper .Polaris-Button {
  // background-color: #008060;
  // color: white;
  box-shadow: none;
  height: 36px;
  width: 64px;
}
.Avada-Setting__Tab-Subtitle {
  margin: 10px 0;
  font-weight: 600;
}
.Avada-Setting__Checkbox {
  margin-top: 10px;
}
