@import 'colors';
@import 'scrollbar';
@import 'components';

:root {
  --sheet--font-family: Arial, Helvetica, sans-serif;
}
body[data-lock-scrolling] {
  overflow: auto hidden;
}

.Avada-Frame {
  display: flex;
  height: calc(100vh - 5.6rem);
}

.Polaris-Header-Title__TitleWithMetadataWrapper {
  display: flex;
  align-items: center;

  .Polaris-Header-Title__TitleMetadata {
    margin-top: 0;
  }
}

.Polaris-Modal-Dialog__Container {
  .Polaris-Modal-Header {
    align-items: center;

    .Polaris-Modal-CloseButton {
      margin-left: 1rem;
    }
  }
}
.Polaris-Text--root {
  font-family: var(--sheet--font-family);
}

.Polaris-Header-Title {
  font-weight: 400 !important;
  font-size: 20px;
  font-family: var(--sheet--font-family);
}
